<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> You are referred to sign up as a new member to the library.</p>
    <a href="http://localhost:4200/sign-up">Please click the link</a>
  </body>
</html>