<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Book <%= @book.title %> is with you!</p>
    <p>
    --------------------------
    </p>
    It has been 5 days since you borrowed the book.The last date to return the book is <%= @borrower.return_date %>
    <p>
    Message:<br>
    ----------
    </p>
  </body>
</html>