<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Book <%= @book.title %> is with you!</p>
    <p>
    Tomorrow is the last date to return your book
    </p>
    <br>
  </body>
</html>